.footer {
  background: #83d9d0;
  width: 100%;
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 7em;
  position: relative;
}
.footerButtons {
  display: flex;
  flex-direction: row;
  gap: 10em; /* 中間空隙 */
}
.footerButton{
border: 0;
background-color: #83d9d0;
font-family: 'Julee';
color: #ffffff;
cursor: pointer; /*滑鼠樣式*/
}
.footer h6 {
  position: absolute;
  bottom: 1em;
}

/* -----------------手機版樣式------------------- */
@media (max-width: 450px) {
  .footer{
    padding-bottom: 4em;
  }
  .footerButtons{
    flex-direction: column;
    gap:2em;
  }
}