.navbar {
    background: #83d9d0;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: "Julee";
  }
  
  .navbar button {
    font-size: 2em;
    font-family: "Julee";
    border: 0;
    background-color: #83d9d0;
    color: #ffffff;
    cursor: pointer;
  }
  /* 第一個<a> */
  .navbar button:nth-child(1) {
    /* BLUEBUBBLE */
    font-size: 4em;
    color: #ffffff;
  }
/* -------------------手機版------------------ */
@media (max-width: 425px) {
  .navbar{
  
  }
}