.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: "Julee";
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  margin-top: 5em;
}

.product {
  margin-top: 8em;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.manyCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}